@model PhpaAll.Bills.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Search </h2>
<ul class="list-group">
    @for (var i = 0; i < Model.Bills.Count; ++i)
    {
        <li class="list-group-item">
            @Html.Partial(MVC.Shared.Views._billPartial, Model.Bills[i])
        </li>
    }
</ul>

