<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  <location path="EmployeeDetailsEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="PersonnelOperator,PayrollManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>  
  </location>
  <location path="EmployeeDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Personnel,PayrollManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reports/PersonnelInfo.aspx">
    <system.web>
      <authorization>
        <allow roles="Executive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reports/Leaves.aspx">
    <system.web>
      <authorization>
        <allow roles="Executive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reports/MedicalAllowance.aspx">
    <system.web>
      <authorization>
        <allow roles="Executive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reports/NextIncrementDue.aspx">
    <system.web>
      <authorization>
        <allow roles="Executive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reports/NextPromotionDue.aspx">
    <system.web>
      <authorization>
        <allow roles="Executive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Reports/ACR.aspx">
    <system.web>
      <authorization>
        <allow roles="Executive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Masters">
    <system.web>
      <authorization>
        <allow roles="PersonnelOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
