/* EnhancedTextbox styles */

/* Style applied to the * symbol */
.etb_CssClassRequired
{
	font-weight:bold;
	color:Red;
	font-size:1.2em;
	vertical-align:middle;
}

/* Style applied to the down double right arrow symbol */
.etb_CssClassFiltered
{
	font-weight:bold;
	color:Orange;
	font-size:1.2em;
	vertical-align:baseline;
}

