
@{
    ViewBag.Title = "View Bill 80";
}

<h2>@ViewBag.Title</h2>
<pre>
TODO:
Display all bill details including audit
</pre>


<ul>
    <li><a href="@Url.Action(MVC.ManageBills.Edit(80))">Edit</a></li>
    <li><button>Receive in Division...</button></li>
    <li><button>Send to Division...</button></li>
    <li><button>Approve for Payment...</button></li>

</ul>