@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action(MVC.ManageBills.RecentBills())" class="btn btn-default">See Recent Bills</a>
<a href="@Url.Action(MVC.ManageBills.Create())" class="btn btn-default">Create new Bills</a>