<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <!--Production ConnectionString-->
    <add connectionString="Data Source=w12obama;Initial Catalog=PHPA2151114;Persist Security Info=True;User ID=sa;Password=Hereitis21;MultipleActiveResultSets=True" name="default" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="title" value="Welcome To Punatsangchhu-II Site"/>
    <add key="PrintTitle" value="PUNATSANGCHHU-II HYDROELECTRIC PROJECT AUTHORITY"/>
    <add key="logo" value="~/Images/PHPALogo2.png"/>
    <add key="Office" value="Bajo"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- requestValidationMode applied due to dangerous code error in web page -->
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <trace enabled="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" cookieless="UseCookies" timeout="120" slidingExpiration="true"/>
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <membership defaultProvider="PhpaMembershipProvider" userIsOnlineTimeWindow="600">
      <providers>
        <clear/>
        <add name="PhpaMembershipProvider" type="Eclipse.PhpaLibrary.Web.Providers.PhpaMembershipProvider" connectionStringName="default"/>
      </providers>
    </membership>
    <roleManager defaultProvider="PhpaRoleProvider" enabled="true" cacheRolesInCookie="true" cookieTimeout="30" createPersistentCookie="false" maxCachedResults="2">
      <providers>
        <clear/>
        <add name="PhpaRoleProvider" type="Eclipse.PhpaLibrary.Web.Providers.PhpaRoleProvider" connectionStringName="default"/>
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages styleSheetTheme="Start" maintainScrollPositionOnPostBack="false" enableEventValidation="false" validateRequest="false" clientIDMode="Static" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="phpa" namespace="Eclipse.PhpaLibrary.Web" assembly="Eclipse.PhpaLibrary"/>
        <add tagPrefix="phpa" namespace="Eclipse.PhpaLibrary.Web.Ajax" assembly="Eclipse.PhpaLibrary"/>
        <add tagPrefix="phpa" namespace="Eclipse.PhpaLibrary.Web.Specialized" assembly="Eclipse.PhpaLibrary"/>
        <add tagPrefix="jquery" namespace="EclipseLibrary.Web.JQuery" assembly="EclipseLibrary.WebForms"/>
        <add tagPrefix="eclipse" namespace="EclipseLibrary.Web.SiteStructure" assembly="EclipseLibrary.WebForms"/>
        <add tagPrefix="eclipse" namespace="EclipseLibrary.Web.UI" assembly="EclipseLibrary.WebForms"/>
        <add tagPrefix="i" namespace="EclipseLibrary.Web.JQuery.Input" assembly="EclipseLibrary.WebForms"/>
        <add tagPrefix="m" namespace="EclipseLibrary.Web.UI.Matrix" assembly="EclipseLibrary.WebForms"/>
      </controls>
    </pages>
    <siteMap defaultProvider="Phpa">
      <providers>
        <clear/>
        <add siteMapFile="Sitemaps/Web.sitemap" name="Phpa" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" securityTrimmingEnabled="false"/>
      </providers>
    </siteMap>
    <xhtmlConformance mode="Strict"/>
    <!--<hostingEnvironment shadowCopyBinAssemblies="false" />-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <!-- Tell IE8 to never use compatibility mode. It ruins our styling. Specifically, Site menu drops below buttons. -->
        <add name="X-UA-Compatible" value="IE=EmulateIE8"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- Ensure that anonymous users can view the login page and don't let anyone change this setting -->
  <location path="Login.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Ensure that anonymous users can view the home page and don't let anyone change this setting -->
  <location path="Default.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Pages in Finance directory visible to anyone authorized for finance package -->
  <location path="Finance" allowOverride="false">
    <system.web>
      <authorization>
        <allow roles="Finance,StoresManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Finance/AccountHeads.aspx">
    <system.web>
      <authorization>
        <allow roles="FinanceManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--Contractors should be visible to StoreManager-->
  <location path="~/Finance/Contractor.aspx">
    <system.web>
      <authorization>
        <allow roles="FinanceManager,StoresManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Finance/ManageDivisions.aspx">
    <system.web>
      <authorization>
        <allow roles="FinanceManager,StoresManager"/>
        <deny roles="Finance"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--All Finance reports should be visible to all Visitors -->
  <location path="Reports">
    <system.web>
      <authorization>
        <allow roles="Visitor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Finance/DayBook.aspx">
    <system.web>
      <authorization>
        <allow roles="Executive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Finance/InsertVoucher.aspx">
    <system.web>
      <authorization>
        <allow roles="FinanceOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Payroll">
    <system.web>
      <authorization>
        <allow roles="Payroll"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Payroll/EmployeeAdjustments.aspx">
    <system.web>
      <authorization>
        <allow roles="PayrollManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Store">
    <system.web>
      <authorization>
        <allow roles="StoresVisitor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--Only Store Operator and above can create SRS -->
  <location path="Store/CreateSRS.aspx">
    <system.web>
      <authorization>
        <allow roles="StoresOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Store/CreateGRN.aspx">
    <system.web>
      <authorization>
        <allow roles="StoresOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MIS">
    <system.web>
      <authorization>
        <allow roles="Visitor,MC-1,MC-2,MC-3,Infra Works"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MIS/Packages.aspx">
    <system.web>
      <authorization>
        <allow roles="MC-1Manager,MC-2Manager,MC-3Manager,Infra WorksManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MIS/ProgressFormatManager.aspx">
    <system.web>
      <authorization>
        <allow roles="MC-1Manager,MC-2Manager,MC-3Manager,Infra WorksManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MIS/ActivityList.aspx">
    <system.web>
      <authorization>
        <allow roles="MC-1Manager,MC-2Manager,MC-3Manager,Infra WorksManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MIS/DailyPhysical.aspx">
    <system.web>
      <authorization>
        <!--<allow roles="MC-1Manager,MC-2Manager,MC-3Manager,Infra WorksManager,MC-1Operator,MC-2Operator,MC-3Operator,MC-1Executive,MC-2Executive,MC-3Executive"/>-->
        <allow roles="MC-1Executive,MC-2Executive,MC-3Executive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MIS/MonthlyPhysical.aspx">
    <system.web>
      <authorization>
        <allow roles="MC-1Executive,MC-2Executive,MC-3Executive,Infra WorksExecutive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MIS/MonthlyFinancial.aspx">
    <system.web>
      <authorization>
        <allow roles="MC-1Executive,MC-2Executive,MC-3Executive,Infra WorksExecutive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MIS/MonthlyConstruction.aspx">
    <system.web>
      <authorization>
        <allow roles="MC-1Executive,MC-2Executive,MC-3Executive,Infra WorksExecutive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<Following three MIS reports are for finance department, therefore edit rights are given to finance managers and operators only./>-->
  <location path="MIS/SummaryofFinacialProgress/PackageActivityList.aspx">
    <system.web>
      <authorization>
        <allow roles="FinanceManager,FinanceOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MIS/SummaryofFinacialProgress/PackageActivityData.aspx">
    <system.web>
      <authorization>
        <allow roles="FinanceManager,FinanceOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MIS/SummaryofFinacialProgress/PackageActivitySummary.aspx">
    <system.web>
      <authorization>
        <allow roles="FinanceManager,FinanceOperator,MC-1Executive,MC-2Executive,MC-3Executive"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PIS">
    <system.web>
      <authorization>
        <allow roles="Personnel,PayrollManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>