
body
{
    font-size: 62.5%;
}

.footer
{
    width: 100%;
    clear: both; /*color:#5675A1;*/
    font-size: 8.5pt;
    text-align: center;
    padding-top: 2mm;
}


#page-wrap
{
    min-width: 780px;
    margin: 10px auto;
}

#ContentContainer
{
    min-width: 100mm;
    padding-left: 3mm;
    padding-right: 2mm;
    min-height: 800px;
    float: left;
    width: 70%;
    overflow: visible;
}
.SideNavigation
{
    width: 230px;
    float: left;
    border-top: 2px solid #5675A1;
    border-right: 0.5mm solid #5675A1; /*	min-width:12em; 	overflow:hidden;*/
    padding-right: 1mm;
    padding-left: 2mm;
}
/*****************************************  Styles for content pages panels  *******************************************/

.PanelContainer
{
    padding: 6px;
}

/************ MaskedEdit Related Styles ***********************/
.MaskedEditFocus1
{
    background-color: #ffffcc;
    color: #000000;
}

.MaskedEditError1
{
    background-color: #ffcccc;
}
.MaskedEditFocusNegative1
{
    background-color: #ffffcc;
    color: #ff0000;
}
.MaskedEditBlurNegative1
{
    color: #ff0000;
}

/* AutoComplete highlighted item */
.autocomplete_completionListElement
{
    visibility: hidden;
    margin: 0px !important; /*	color : windowtext;*/
    background-color:White; 
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: 11em;
    text-align: left;
    list-style-type: none;
    width: 25em !important;
    z-index: 100;
    padding: 0px;
}

.autocomplete_highlightedListItem
{
    /*background-color: #ffff99; 	color: black;*/
    padding: 1px;
}

/* AutoComplete item */

.autocomplete_listItem
{
    /*background-color : window; 	color : windowtext;*/
    padding: 1px;
}


.headerStyle
{
    font-family: Times New Roman;
    font-size: x-large;
    font-style: italic;
    font-weight: bolder;
    text-align: center; /*color:Gray;*/
    padding-top: .5em;
}

.ParamInstructions
{
}

.PrintTitle
{
    display: none;
}


/*PHPA Skin specific styles*/
/*Tree view, skin ID - "Head"*/
.Phpa-TreeViewHoverNode_Head
{
    text-decoration: underline; /*color:Purple;*/
}

.Phpa-TreeViewSelectedNode_Head
{
    text-decoration: underline;
    padding: 0px;
}

.Phpa-TreeViewNode_Head
{
    font-family: Tahoma;
    text-decoration: underline;
    padding: 0px 5px 0px 5px;
}

/*Tree view, skin ID - "Menu"*/


.Phpa-GridViewStyle td
{
    padding: 2px;
    border: 1;
}

.Phpa-GvFooter
{
    font-weight: bold;

}

.Phpa-GvPagerStyle
{
    text-align: center;
    border: none;
    padding-top: 10px;
    font-size: larger;    
}


.Phpa-FvPagerStyle
{
    text-align: right;
}

.Phpa-FvHeaderStyle
{
    font-family: Verdana, Tahoma, Helvetica;
    font-size: large; 
}

.ui-selecting
{
    background: #FECA40;
}
.ui-selected
{
    background: #F39814;
    color: white;
}
.alternatingRow
{
    border: 1px solid #87CEFA;
    background: #F0F8FF;
}


/* Voucher Detail. Same styles must exist in Printing.css as well */
table.vd-table, table.vd-table td, table.vd-table th
{
    border-collapse: collapse;
    border: solid 0.2mm black;
    padding: 1mm;
}

.vd-datecol
{
    vertical-align: top;
}

.vd-namecol
{
    min-width: 8em;
    vertical-align: top;
}

.vd-vouchercol
{
    width: 10%;
    padding: 1mm;
    vertical-align: top;
}

.vd-particularscol
{
    vertical-align: top;
    min-width: 15em;
}

.vd-headcol
{
    width: 20%;
    vertical-align: top;
    min-width: 15em;
}

.vd-empjobcol
{
    min-width: 7em;
    overflow: visible;
    vertical-align: top;
}

.vd-amountcol
{
    text-align: right;
    vertical-align: top;
}

.vd-voucher-ref 
{
    white-space:nowrap;
    font-size:x-small;
}

