<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Eclipse.PhpaLibrary.Properties.Settings.PHPA2FortestConnectionString" connectionString="Data Source=SCOTLAND;Initial Catalog=PHPA2Fortest;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="Eclipse.PhpaLibrary.Properties.Settings.Phpa2_20012012ConnectionString1" connectionString="Data Source=scotland;Initial Catalog=Phpa2-20012012;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="Eclipse.PhpaLibrary.Properties.Settings.PHPA2ConnectionString" connectionString="Data Source=w12obama;Initial Catalog=PHPA2;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
        <add name="Eclipse.PhpaLibrary.Properties.Settings.PHPADEVConnectionString" connectionString="Data Source=w12obama;Initial Catalog=PHPADEV;Persist Security Info=True;User ID=sa;Password=Hereitis21;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
